.card{
    height: 400px;
    width: 300px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px;
}
img{
    height: 200px;
    width: 295px ;
    border-radius: 20px;
    /* margin: 2px 2px 2px 2px; */
    padding: 2px 2px 2px 2px;
}

p{
    padding: 5px;
}
@media (max-width:375) {
    #pets{
        flex-wrap: wrap;
    }
}